<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js'></script>
    <script type="text/javascript">
    let locationX = jQuery.getJSON('https://api.db-ip.com/v2/free/self', function(data) {
        console.log(JSON.stringify(data, null, 2));
    });
    console.log(locationX)
    </script>

    <title>Document</title>
</head>
<body>
    
    <h1>Create Your VERY OWN Todolist!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
    
    <div id="location"></div> <!-- Asks for permission to know your location -->
    <script>
    var div = document.getElementById("location");
      function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                div.innerHTML = "The Browser Does not Support Geolocation";
            }
        }

      function showPosition(position) {
          console.log("Latitude: " + position.coords.latitude + "Longitude: " + position.coords.longitude);
        }

      function showError(error) {
          if(error.PERMISSION_DENIED){
              console.log(div.innerHTML = "The User have denied the request for Geolocation.");
            }
        }
        
        getLocation(showPosition, showError);
    </script>


</body>
</html>